.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #f7e7ed;
  padding: 40px 80px 60px 80px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: center;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.navigation-bar {
  padding: 16px 40px 16px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.budt-748 {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 800;
  position: relative;
}
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.about2 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  width: 885px;
  height: 174px;
}
.course-information {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 32px 40px 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.course-information2 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-students-work-on-real-world-projects-that-integrate-the-knowledge-and-skills-acquired-throughout-their-is-curriculum {
  color: #4d4d4d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.professor-ta-details {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 32px 40px 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.professor-ta-details2 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.professor-paul-t-shapiro {
  color: #262626;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #4d4d4d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.semester-spring-2027 {
  color: #262626;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
